Django>=5.0,<6.1
django-cors-headers
django-storages
boto3
celery
redis
python-dotenv
django-ninja
snaptrade-python-sdk
finnhub-python
psycopg2-binary
Pillow
gunicorn
dj-database-url
whitenoise
pytz
frozendict
ruff
